@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "si";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: #F9FAFB;
  --color-base-200: #141C2C;
  --color-base-300: #EBEBEB;
  --color-base-content: #1F2937;

  --color-primary: #FF6900;
  --color-primary-content: #FFFFFF;
  
  --color-secondary: #1447E6;
  --color-secondary-content: #FFFFFF;

  --color-accent: black;
  --color-accent-content: #FFFFFF;

  --color-neutral: #1F2937;
  --color-neutral-content: #FFFFFF;

  --color-info: #F9FAFB;
  --color-success: #36D399;
  --color-warning: #FBBD23;
  --color-error: #F87272;

  --radius-selector: 0.75rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "no";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: #F9FAFB;
  --color-base-200: #141C2C;
  --color-base-300: #2A3241;
  --color-base-content: #F9FAFB;

  --color-primary: #FF6900;
  --color-primary-content: #FFFFFF;

  --color-secondary: #3B82F6;
  --color-secondary-content: #FFFFFF;

  --color-accent: black;
  --color-accent-content: #FFFFFF;

  --color-neutral: #111111;
  --color-neutral-content: black;

  --color-info: #232322;
  --color-success: #36D399;
  --color-warning: #FBBD23;
  --color-error: #F87272;

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui";

#root {
  margin: 0 auto;
  text-align: center;
}
html, body, #root {
  height: 100%;
  /* scrollbar-width: none; */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* @plugin "daisyui" {
  themes: all;
} */






.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
