@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "si";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-base-100: #F9FAFB;
  --color-base-200: #141C2C;
  --color-base-300: #F54A00;
  --color-base-content: oklch(25% 0.02 250);
  --color-primary: #F54900;
  --color-primary-content: #ff6900;
  --color-secondary: #1447E6;
  --color-secondary-content: #e7e6e5;
  --color-accent: oklch(75% 0.20 150);
  --color-accent-content: oklch(20% 0.05 150);
  --color-neutral: #ebebeb;
  --color-neutral-content: #e9e7e7;
  --color-info: #F9FAFB;
  --color-info-content: oklch(30% 0.05 220);
  --color-success: oklch(70% 0.20 145);
  --color-success-content: oklch(25% 0.05 145);
  --color-warning: #000000;
  --color-warning-content: oklch(35% 0.10 70);
  --color-error: oklch(65% 0.25 25);
  --color-error-content: oklch(98% 0.02 25);
  --radius-selector: 0.75rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "no";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #F9FAFB;
  --color-base-200: #141C2C;
  --color-base-300: #F54A00;
  --color-base-content: #F9FAFB;
  --color-primary: #F54900;
  --color-primary-content: #ff6900;
  --color-secondary: #1447E6;
  --color-secondary-content: oklch(29% 0.066 243.157);
  --color-accent: oklch(75% 0.183 55.934);
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: #111111;
  --color-neutral-content: #141C2C;
  --color-info: #232322;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: #000000;
  --color-warning-content: oklch(42% 0.095 57.708);
  --color-error: oklch(73.7% 0.121 32.639);
  --color-error-content: oklch(23.501% 0.096 290.329);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui";

#root {
  margin: 0 auto;
  text-align: center;
}
html, body, #root {
  height: 100%;
  /* scrollbar-width: none; */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* @plugin "daisyui" {
  themes: all;
} */






.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
