name: deploy
# --- INICIO DE LA MODIFICACIÓN ---
on:
  push:
    branches:
      - master
# --- FIN DE LA MODIFICACIÓN ---

jobs:
  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-22.04 # Se recomienda usar 'ubuntu-latest'
    
    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.IP}}
          port: 2222
          username: negro
          key: ${{ secrets.PRIVATE_KEY }}
          script: "cd /var/www/html/intermodular;
           git reset --hard HEAD;
           git clean -df; git pull;
           cd frontend;
           npm i;
           npm run build;
           cd ..;
           pm2 restart api-intermodular;
           "